#url{
    border-radius: 20px;
    height: 20px;
}
#btn{
    border-radius: 25px;
    padding: 5px 10px;
    background-color: blue;
    color: aliceblue;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    /* background-color: pink; */
    box-sizing: border-box;
    /* box-shadow: 10px 10px 1px black,-10px -10px 1px black;  */
}
form{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
body{
    /* background-color: black; */
    /* color: antiquewhite; */
    /* width: 100vw; */
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:400px) and (max-width:700px) {
    h1{
        color: red;
    }
}
